{% extends 'layout.html' %}

<!-- HEADER -->
{% block header %}

    <h1>iCalculator</h1>
    <p>
    Python
    <br />
    Edition
    </p>

{% endblock %}


<!-- MAIN -->
{% block main %}
    <form action="/" method="post">
    <!-- Resultado -->
        <p class="result">Resultado: {{ result }}</p>
    <!-- Escritura -->
        <input type="text" class="text" name="expression" id='expression'>
    <!-- Botones -->
        <div id="button-container" class="button-container">
            <!-- limpiar pantalla -->
            <button 
            class="button operador big" 
            onclick="reset()"
            >AC</button>

            <!-- operadores -->
            <button 
            class="button operador small" 
            onclick="add(this.value)"
            value="+"
            >+</button>
            <button 
            class="button operador small" 
            onclick="add(this.value)"
            value="-"
            >-</button>
            <button 
            class="button operador small" 
            onclick="add(this.value)"
            value="*"
            >*</button>
            <button 
            class="button operador small" 
            onclick="add(this.value)"
            value="/"
            >/</button>
            
            <!-- números -->
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="1"
            >1</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="2"
            >2</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="3"
            >3</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="4"
            >4</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="5"
            >5</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="6"
            >6</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="7"
            >7</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="8"
            >8</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="9"
            >9</button>
            <button 
            class="button medium" 
            onclick="add(this.value)"
            value="0"
            >0</button>
            <button 
            class="button small" 
            onclick="add(this.value)"
            value="."
            >.</button>
            
            <button 
            class="button operador small"
            type="submit"
            value="="
            >=</button>
        </div>
        
    </form>
    <script>
        const expressionInput = document.getElementById("expression");

        function add(par) {
            expressionInput.value += par;
        }
        function reset() {
            expressionInput.value = "";
        }
    </script>



    {% endblock %}
